{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique Française
{% endblock %}

{% block content %}
	<h1>Modifier mon mot de passe</h1>
	<hr>
	<a href="{{ path('account') }}">Retourner à mon compte</a>


	{% for label, messages in app.flashes(['success', 'danger']) %}
		{% for message in messages %}
			<div class="alert alert-{{label}}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	{{ form_start(form) }}
	<div class="form-group">
		<label>
			Prenom
		</label>
		<input type="text" class="form-control" value="{{ app.user.firstname }}" disabled>
	</div>
	<div class="form-group">
		<label>
			Nom
		</label>
		<input type="text" class="form-control" value="{{ app.user.lastname }}" disabled>
	</div>
	<div class="form-group">
		<label>
			Email
		</label>
		<input type="email" class="form-control" value="{{ app.user.email }}" disabled>
	</div>
	{{ form_row(form.old_password) }}
	{{ form_row(form.password) }}
	{{ form_end(form) }}
	<hr>

{% endblock %}
